.header {
     
  padding: 20px;
  width: 100%;

  text-align: left;
  background: #2834e0;
  color: rgb(213, 203, 203);
  font-size: 20px;

}
.button {
    background-color: #0a19ee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
  }
  
  /* hovering for the add button */
  button:hover {
    opacity: 0.8;
  }