
body {
  font-family: "Lato", sans-serif;
    background: url(mainlogin.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  padding: 20px;
  width: 98%;

  text-align: left;
  background: #2538c6;
  color: rgb(213, 203, 203);
  font-size: 20px;

}

.btn{
background-color: #0a19ee;
color: white;
padding: 90px 23px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 15%;
text-decoration: none;
font-size: 18px;
}
.btn:hover {
  opacity: 0.8;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  border: 5px solid black; 

}

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#000080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.logout{ 
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fffefe;
  display: block;
  transition: 0.3s;
  background-color:#000080;
  border:none;}

  .logout:hover{color: #f1f1f1;}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

.content {
  padding:55px;
	margin:8px auto;
	font-family: calibri;
  width: 60rem;

  border-radius: 5px;
  position: relative;

  background: inherit;
  overflow: hidden;
}

.announcements {
  padding:55px;
    margin:100px auto;
    font-family: calibri;
  width: 60rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}


.announcements :before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(20px);
  margin: -20px;
}
button {
  background-color: #0a19ee;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* hovering for the login button */
button:hover {
  opacity: 0.8;
}

a:link {
  color: rgb(241, 241, 246);
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  opacity: 0.8;
}

.tablestyle{ 
  float:center;
  padding:45px;
  margin:50px auto;
  font-family: calibri;
  width: 50rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
    }
    .tablestyle:before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
      filter: blur(10px);
      margin: -10px;
    } 